@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;    
    padding: 0;
    margin: 0;
}

body, html {
    background-color: lightgray;
    width: 100vw;
    scrollbar-width: none;
}

header {
    background-color: grey;
}

header > h1 {
    padding: 30px;
    text-align: center;
}

menu {
    display: block;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li {
    width: 10vw;
}

menu > ul > li > a:hover {
    background-color: black;
    text-decoration: underline;
    color: rgb(170, 165, 165);
    border-radius: 7px;
    transform: translate(0px,-5px);
    transition: .3s;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(87, 86, 86);
    width: 97vw;
    color: white;
    text-align: center;
}

main {
    padding: 10px;
}

main > article > h2 {
    text-align: center;
    padding: 15px;
}

article {
    width: 90vw;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

article > p {
    padding: 15px;
    margin-bottom: 5px;
    text-indent: 10px;
    text-align: justify;
    font-size: 1.7em;
    line-height: 1.3;
}

.fotoney {
    display: flex;
    justify-content: center;
}

.fotoney > .iframm {
    width: 500px;
    height: 300px;
    margin-top: 25px;
    margin-bottom: 30px;
}

#neymarbio {
    color: rgb(100, 87, 87);
    text-decoration: none;
}

#neymarbio:hover {
    text-decoration: underline;
    color: black;
}

#neymarbio::after {
    content: '🔗';
}
